<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2><strong>{{ status_info[8] }}</strong></h2>
<p></p>
<p></p>
<p></p>
<p></p>

<h1><strong>{{ status_info[0] }}:</strong></h1>

<h2>{{ status_info[1] }}: 🏆 <strong>{{ status_info[2] }}</strong> 🏆</h2>

<p>➡️ {{ status_info[3] }}:<br>
    ☑ {{ status_info[4] }}<br>
    ☑ {{ status_info[5] }}<br>
    🦄 {{ status_info[6] }}</p>

<p>🔁 <strong>{{ status_info[7] }}</strong>: {{ user_db_status_info }} 🔁</p>
</body>
</html>