<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Daily UI #031 - File Upload</title>
    <link rel="stylesheet" media="(max-device-height: 850px)" href="../static/upload_form_responsive.css"/>
    <link rel="stylesheet" href="../static/cdnjs_upload4.css">
    <link rel='stylesheet' href='../static/codepen_upload4.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'>
    <link rel="stylesheet" href="../static/upload_form_responsive.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="container">
    <form action="/upload" method="POST"
          enctype="multipart/form-data"
          class="box has-advanced-upload">
    <div class="box-input">
      <svg x="0px" y="0px" viewBox="0 0 64 62" style="enable-background:new 0 0 64 62;" xml:space="preserve">
        <style type="text/css">
            .st0{fill:none;stroke:#fff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        </style>
        <g id="spa-launch">
            <path class="st0" d="M33,27.1h-8c0,0-2-6-2-12c0-8,6-14,6-14s6,6,6,14C35,21.1,33,27.1,33,27.1z"/>
            <line class="st0" x1="29" y1="17.1" x2="29" y2="27.1"/>
            <polyline class="st0" points="25,27.1 17,27.1 17,23.1 23.1,17.1 	"/>
            <polyline class="st0" points="33,27.1 41,27.1 41,23.1 34.9,17.1 	"/>
            <path class="st0" d="M18,41.2c0.5-5.7,5.2-10.1,11-10.1c5.1,0,9.3,3.4,10.6,8.1"/>
            <path class="st0" d="M48,41.1c-0.2-3.4-3.1-6-6.5-6c-1.2,0-2.4,0.3-3.3,0.9"/>
            <path class="st0" d="M42.3,47.1c0,0-1-4-6-4"/>
            <path class="st0" d="M26.3,43.1c-3-1-4,2-4,2s-3-2-5,0s-1,4-1,4"/>
            <path class="st0" d="M9,46.1c-0.8-0.6-1.9-1-3-1c-2.8,0-5,2.2-5,5s2.2,5,5,5h46c2.8,0,5-2.2,5-5c0-5-4-9-9-9
                c-0.9,0-1.8,0.1-2.6,0.4"/>
            <path class="st0" d="M18.8,37.9c-1.1-0.5-2.4-0.8-3.8-0.8c-4.6,0-8.5,3.5-8.9,8"/>
        </g>
    </svg>

    <label for="file">
        <strong style="font-size: 200%">Choose a file</strong><br>
        Allowed extensions are<br>
        {'mp4', 'avi', 'webm', 'mkv', 'flv',<br>
        'mov', 'wmv', 'm4v', '3gp', 'ogv',<br>
        'ogg', 'vob'}<br>
    </label>
    <input type="file" name="files[]" id="file" class="box-file">
    <input type="hidden" name="user_id" value="{{ user_id }}">
    <button id="hide_button" type="submit" class="button">Upload</button>
    </div>

    <div class="box-uploading">Uploading…</div>
    <div class="box-success">Done! <a href="https://css-tricks.com/examples/DragAndDropFileUploading//?submit-on-demand" class="box-restart" role="button" data-unsp-sanitized="clean">Upload more?</a></div>
    <div class="box-error">Error! <span></span>. <a href="https://css-tricks.com/examples/DragAndDropFileUploading//?submit-on-demand" class="box-restart" role="button" data-unsp-sanitized="clean">Try again!</a></div>
    <input type="hidden" name="ajax" value="1"></form>

</div>
<!-- partial -->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script  src="../static/upload_form_responsive.js"></script>
<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>-->

<script>
    $('input[type="file"]').on("focus", function () {
        var labelText = $('label[for="file"]').text();
        if (labelText !== '') {
            $("#hide_button").show();
        }
    });

    $(document).ready(function () {

        $('input[type="file"]').change(function (e) {

            let fileName = e.target.files[0].name;
            let extension = fileName.slice((fileName.lastIndexOf(".") - 1 >>> 0) + 2).toLowerCase();
            const allowedExtensions = ['mp4', 'avi', 'webm', 'mkv', 'flv', 'mov', 'wmv', 'm4v', '3gp', 'ogv', 'ogg', 'vob'];

            if (!allowedExtensions.includes(extension)) {
                alert('The file "' + fileName + '"does not an allowed extension. Please select a correct extension:\n' +
                allowedExtensions);
            }

        });

    });

</script>
</body>
</html>
