<!DOCTYPE html>
<html>

<head>
    <title>Harmix</title>
</head>

<body>

<h1>Welcome to Our Company</h1>
<h2>Web Site Main Ingredients:</h2>

<form action="/" method="POST" enctype=multipart/form-data>
    <p>Pages (HTML)</p>
    <p>Style Sheets (CSS)</p>
    <p>Computer Code (JavaScript)</p>
    <p>Live Data (Files and Databases)</p>
    <label for="user_full_name">Type your full name</label>
    <input id="user_full_name" type="text" name="user_full_name">
    <button class="button" type="submit" value="Submit">Confirm</button>

</form>
</body>
</html> 