<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Use Telegram Bot <a href="https://t.me/harmix_bot">Harmix</a> with a valid subscription
    to upload more 20 mb videos
</h2>
<p></p>
<h3>Note that you can only use OUR bot each time uploading more 20 mb videos to connect to this service</h3>
<h3>Or you push button not attached a video with an allowed extension. Please, try to forward your video more 20 mb on our bot to start a new choice</h3>
</body>
</html>